.custom-bg {
    background-color: #E64A70 !important; /* Código del color rosa */
}
.button-bg{
    background-color: #c6e5d9 !important; /* Código del color rosa */

}

.input-bg{

    background-color: #c6a49a !important;
}
p{
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    margin-left: 20px;

    
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.banner {
    background-color:#c6a49a;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-container {
    max-width: 600px; 
    text-align: left;
    margin-left: 5%; 
    color: black;
}

/* Estilos para los botones "Saber más" y "Contacto" */
.btn-warning, 
.btn-outline-light {
    background-color: #d68189 !important; 
    border-color: #f4ead5 !important; 
    color: #000000 !important; 
    font-family: 'Poppins', sans-serif; 
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

/* Efecto para ambos botones */
.btn-warning:hover, 
.btn-outline-light:hover {
    background-color: #e94e77 !important; 
    color: #000000 !important; 
}

.img-cafe {
    border-radius: 20px;
    width: 450px; 
    height: auto; 
    box-shadow: 5px 5px 15px rgba(24, 23, 23, 0.6);
    margin-left: 50px;
}