.custom-bg {
    background-color: #E64A70 !important; /* Código del color rosa */
}
.button-bg{
    background-color: #c6e5d9 !important; /* Código del color rosa */

}

.input-bg{

    background-color: #c6a49a !important;
}